{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/open-iconic-bootstrap.min.css') %}
    {% do assets.addCss('theme://css/animate.css') %}
    {% do assets.addCss('theme://css/owl.carousel.min.css') %}
    {% do assets.addCss('theme://css/owl.theme.default.min.css') %}
    {% do assets.addCss('theme://css/magnific-popup.css') %}
    {% do assets.addCss('theme://css/aos.css') %}
    {% do assets.addCss('theme://css/ionicons.min.css') %}
    {% do assets.addCss('theme://css/bootstrap-datepicker.css') %}
    {% do assets.addCss('theme://css/jquery.timepicker.css') %}
    {% do assets.addCss('theme://css/flaticon.css') %}
    {% do assets.addCss('theme://css/icomoon.css') %}
    {% do assets.addCss('theme://css/style.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery-migrate-3.0.1.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/popper.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/bootstrap.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.easing.1.3.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.waypoints.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.stellar.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/owl.carousel.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.magnific-popup.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/aos.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.animateNumber.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/scrollax.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/google-map.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/main.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body>
    {% block header %}            
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">iii Earth ID</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    {% endblock %}

    {% block hero %}{% endblock %}

        <section id="start">
        {% block body %}
            <section id="body-wrapper" class="section">
                <section>
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {{ block('content_surround') }}
                </section>
            </section>
        {% endblock %}
        </section>

    </div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {# {% block mobile %}
    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <nav class="overlay-menu">
                {% include 'partials/navigation.html.twig' with {tree: true} %}
            </nav>
        </div>
    </div>
    {% endblock %} #}

{% block bottom %}
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
